<div id="Em_aberto" class="Em_aberto_Class" style="transform-origin: 0px 0px; transform: scale(0.75);">
  <svg class="Rectangle_609">
    <rect fill="rgba(255,255,255,1)" class="Rectangle_609_Class" rx="0" ry="0" x="0" y="0" width="1642" height="72">
    </rect>
  </svg>
  <div class="Group_1_Class">
    <svg class="Rectangle_608">
      <rect fill="rgba(244,244,244,1)" class="Rectangle_608_Class" rx="17.5" ry="17.5" x="0" y="0" width="725" height="35">
      </rect>
    </svg>
    <div class="Icon / Search / Two-toned Icon___Search___Two_toned_Class">
      <svg class="Box">
        <rect fill="transparent" class="Box_Class" rx="0" ry="0" x="0" y="0" width="24" height="24">
        </rect>
      </svg>
      <svg class="Path_402" viewBox="908 -1415 17.49 17.491">
        <path fill="rgba(117,117,117,1)" class="Path_402_Class" d="M 920.5020141601562 -1404 L 919.7080078125 -1404 L 919.4320068359375 -1404.274047851562 C 920.406982421875 -1405.411010742188 921 -1406.885009765625 921 -1408.5 C 921 -1412.089965820312 918.0900268554688 -1415 914.5 -1415 C 910.9099731445312 -1415 908 -1412.089965820312 908 -1408.5 C 908 -1404.910034179688 910.9099731445312 -1402 914.5 -1402 C 916.114990234375 -1402 917.5880126953125 -1402.592041015625 918.7249755859375 -1403.566040039062 L 919.0009765625 -1403.2919921875 L 919.0009765625 -1402.5 L 923.9990234375 -1397.509033203125 L 925.489990234375 -1399 L 920.5020141601562 -1404 L 920.5020141601562 -1404 Z M 914.5 -1404 C 912.0139770507812 -1404 910 -1406.014038085938 910 -1408.5 C 910 -1410.984985351562 912.0139770507812 -1413 914.5 -1413 C 916.9849853515625 -1413 919 -1410.984985351562 919 -1408.5 C 919 -1406.014038085938 916.9849853515625 -1404 914.5 -1404 L 914.5 -1404 Z">
        </path>
      </svg>
    </div>
  </div>
  <svg class="Path_2111" viewBox="0 1080 311 1">
    <path fill="rgba(56,53,53,1)" class="Path_2111_Class" d="M 311 1080 L 0 1080 L 311 1080 Z">
    </path>
  </svg>
  <div class="User_Class">
    <div class="Group_23_Class">
      <svg viewBox="0 0 6.122 0" class="Line_6">
        <path fill="transparent" stroke="rgba(65,65,65,1)" stroke-width="3px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4"
          shape-rendering="auto" class="Line_6_Class" d="M 0 0 L 6.121516227722168 1.475865701650036e-05">
        </path>
      </svg>
      <svg viewBox="0 0 6.122 3" class="Line_7">
        <path fill="transparent" stroke="rgba(65,65,65,1)" stroke-width="3px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4"
          shape-rendering="auto" class="Line_7_Class" d="M 0 1.475865701650036e-05 L 6.121516227722168 0">
        </path>
      </svg>
    </div>
    <svg class="IMG_20180429_114059">
      <pattern elementId="IMG_20180429_114059_A0_Ellipse_2" id="IMG_20180429_114059_A0_Ellipse_2_pattern" x="0" y="0" width="100%"
        height="100%">
        <image x="0" y="0" width="100%" height="100%" href="../assets/IMG_20180429_114059_A0_Ellipse_2_pattern.png" xlink:href="IMG_20180429_114059_A0_Ellipse_2_pattern.png"></image>
      </pattern>
      <ellipse fill="url('assets/IMG_20180429_114059_A0_Ellipse_2_pattern.png')" class="IMG_20180429_114059_Class" rx="25" ry="25" cx="25"
        cy="25">
      </ellipse>
    </svg>
    <div class="Tamyres_Freitas_Class">
      <span>Tamyres Freitas</span>
    </div>
  </div>
  <div class="Vertical Menu Vertical_Menu_Class">
    <div class="Group_335_Class">
      <svg class="Rectangle">
        <rect fill="rgba(255,255,255,1)" class="Rectangle_Class" rx="0" ry="0" x="0" y="0" width="280" height="1080">
        </rect>
      </svg>
    </div>
    <svg class="Path" viewBox="0 0.44 1.75 1">
      <path fill="rgba(0,0,0,0)" class="Path_Class" d="M 1.75 0.4397668540477753 L 0.875 0.4397668540477753 L 0 0.4397668540477753">
      </path>
    </svg>
    <div class="Dashboard_Analytics_Class">
      <span> Todos (80)</span>
      <br>
      <span style="color:rgba(133,122,245,1);"> </span>
      <span style="color:rgba(248,147,33,1);"> </span>
      <span style="font-style:normal;font-weight:bold;color:rgba(248,147,33,1);">Em aberto (4)</span>
      <br>
      <span> Em andamento (32)
        <br/> Enviado (8)
        <br/> Entregue (40)</span>
      <br>
    </div>
    <div class="APPS_Class">
      <span>PEDIDOS</span>
    </div>
    <div class="Group_340_Class">
      <div class="UI_Elements_Class">
        <div class="right_arrow_Class">
          <svg class="right_arrow_background">
            <rect fill="rgba(0,0,0,0)" class="right_arrow_background_Class" rx="0" ry="0" x="0" y="0" width="10" height="5.021">
            </rect>
          </svg>
          <svg class="Path_A0_Path_4" viewBox="0 0 10 5.021">
            <path fill="rgba(0,0,0,0)" class="Path_A0_Path_4_Class" d="M 0 0 L 5 5.021276473999023 L 10 0">
            </path>
          </svg>
        </div>
        <div class="right_arrow_A0_Group_8_Class">
          <svg class="right_arrow_background_A0_Rectangle_6">
            <rect fill="rgba(0,0,0,0)" class="right_arrow_background_A0_Rectangle_6_Class" rx="0" ry="0" x="0" y="0" width="10" height="5.021">
            </rect>
          </svg>
        </div>
        <div class="Group_336_A0_Group_23_Class">
          <div class="chevron_down_A0_Group_24_Class">
            <div class="right_arrow_A0_Group_28_Class">
            </div>
          </div>
        </div>
        <div class="Group_337_Class">
          <div class="chevron_down_A0_Group_13_Class">
            <div class="right_arrow_A0_Group_14_Class">
              <svg class="right_arrow_background_A0_Rectangle_7">
                <rect fill="rgba(0,0,0,0)" class="right_arrow_background_A0_Rectangle_7_Class" rx="0" ry="0" x="0" y="0" width="10" height="5.021">
                </rect>
              </svg>
            </div>
          </div>
          <svg class="Path_A0_Path_5" viewBox="0 0 10 5.021">
            <path fill="rgba(0,0,0,0)" class="Path_A0_Path_5_Class" d="M 0 0 L 5 5.021276473999023 L 10 0">
            </path>
          </svg>
        </div>
        <div class="Group_338_A0_Group_26_Class">
          <div class="chevron_down_A0_Group_27_Class">
            <div class="right_arrow_A0_Group_28_Class">
            </div>
          </div>
        </div>
        <div class="Group_339_Class">
          <svg class="Path_A0_Path_6" viewBox="0 0 10 5.021">
            <path fill="rgba(0,0,0,0)" class="Path_A0_Path_6_Class" d="M 0 0 L 5 5.021276473999023 L 10 0">
            </path>
          </svg>
          <svg class="right_arrow_background_A0_Rectangle_8">
            <rect fill="rgba(0,0,0,0)" class="right_arrow_background_A0_Rectangle_8_Class" rx="0" ry="0" x="0" y="0" width="10" height="5.021">
            </rect>
          </svg>
          <svg class="Path_A0_Path_7" viewBox="0 0 10 5.021">
            <path fill="rgba(0,0,0,0)" class="Path_A0_Path_7_Class" d="M 0 0 L 5 5.021276473999023 L 10 0">
            </path>
          </svg>
          <svg class="Path_A0_Path_8" viewBox="0 0 10 5.021">
            <path fill="rgba(0,0,0,0)" class="Path_A0_Path_8_Class" d="M 0 0 L 5 5.021276473999023 L 10 0">
            </path>
          </svg>
          <svg class="right_arrow_background_A0_Rectangle_9">
            <rect fill="rgba(0,0,0,0)" class="right_arrow_background_A0_Rectangle_9_Class" rx="0" ry="0" x="0" y="0" width="10" height="5.021">
            </rect>
          </svg>
        </div>
        <div class="UI_ELEMENTS_Class">
          <span>RELATÓRIOS ELEMENTS</span>
        </div>
      </div>
      <div class="Dashboard_Analytics_A0_Text_5_Class">
        <span>Pedidos
          <br/>Faturamento
          <br/>Avaliação
          <br/>Clientes
          <br/>Cupons</span>
        <br>
      </div>
    </div>
    <div class="Group_341_Class">
      <div class="UI_Elements_A0_Group_20_Class">
        <div class="right_arrow_A0_Group_21_Class">
          <svg class="right_arrow_background_A0_Rectangle_10">
            <rect fill="rgba(0,0,0,0)" class="right_arrow_background_A0_Rectangle_10_Class" rx="0" ry="0" x="0" y="0" width="10" height="5.021">
            </rect>
          </svg>
        </div>
        <div class="right_arrow_A0_Group_22_Class">
          <svg class="right_arrow_background_A0_Rectangle_11">
            <rect fill="rgba(0,0,0,0)" class="right_arrow_background_A0_Rectangle_11_Class" rx="0" ry="0" x="0" y="0" width="10" height="5.021">
            </rect>
          </svg>
        </div>
        <div class="Group_336_A0_Group_23_Class">
          <div class="chevron_down_A0_Group_24_Class">
            <div class="right_arrow_A0_Group_28_Class">
            </div>
          </div>
        </div>
        <div class="Group_338_A0_Group_26_Class">
          <div class="chevron_down_A0_Group_27_Class">
            <div class="right_arrow_A0_Group_28_Class">
            </div>
          </div>
        </div>
        <div class="UI_ELEMENTS_A0_Text_6_Class">
          <span>PREVISÃO</span>
          <span style="font-size:14px;"> ELEMENTS</span>
        </div>
      </div>
      <div class="Dashboard_Analytics_A0_Text_7_Class">
        <span>Pedidos
          <br/>Faturamento</span>
        <br>
      </div>
    </div>
  </div>
  <div class="Bread_Crumbs_Class">
    <div class="Card_Actions_Class">
      <span>Pedidos</span>
    </div>
    <svg class="Path_2" viewBox="0.5 0.881 1 30.528">
      <path fill="transparent" stroke="rgba(151,151,151,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="10"
        shape-rendering="auto" class="Path_2_Class" d="M 0.5 0.8810209631919861 L 0.5 31.40941619873047">
      </path>
    </svg>
    <div class="eCommerce_Class">
      <span>Em aberto</span>
    </div>
  </div>
  <div class="Selection Control / Switch / On / Pressed Selection_Control___Switch___O_Class">
    <svg class="Rectangle_585">
      <rect fill="rgba(0,130,101,1)" class="Rectangle_585_Class" rx="7" ry="7" x="0" y="0" width="34" height="14">
      </rect>
    </svg>
    <svg class="Ellipse_63">
      <ellipse fill="rgba(0,130,101,1)" class="Ellipse_63_Class" rx="10" ry="10" cx="10" cy="10">
      </ellipse>
    </svg>
    <svg class="Ellipse_62">
      <ellipse fill="rgba(0,130,101,1)" class="Ellipse_62_Class" rx="20" ry="20" cx="20" cy="20">
      </ellipse>
    </svg>
  </div>
  <div class="Card_Actions_A0_Text_10_Class">
    <span>Loja Aberta </span>
  </div>
  <div class="Table_Class">
    <svg class="Path_10" viewBox="0 0 1486 712.478">
      <path fill="rgba(255,255,255,1)" class="Path_10_Class" d="M 2.068197727203369 0 L 1483.931884765625 0 C 1485.074340820312 0 1486.000122070312 1.061521768569946 1486.000122070312 2.370975494384766 L 1486.000122070312 710.1070556640625 C 1486.000122070312 711.4165649414062 1485.074340820312 712.47802734375 1483.931884765625 712.47802734375 L 2.068197727203369 712.47802734375 C 0.9259637594223022 712.47802734375 0 711.4165649414062 0 710.1070556640625 L 0 2.370975494384766 C 0 1.061521768569946 0.9259637594223022 0 2.068197727203369 0 Z">
      </path>
    </svg>
    <svg class="Rectangle_92">
      <rect fill="rgba(248,248,248,1)" class="Rectangle_92_Class" rx="0" ry="0" x="0" y="0" width="1486" height="109">
      </rect>
    </svg>
    <svg class="Rectangle_94">
      <rect fill="rgba(248,248,248,1)" class="Rectangle_94_Class" rx="0" ry="0" x="0" y="0" width="1486" height="109">
      </rect>
    </svg>
    <div class="Repeat_Grid_5_Class">
      <div class="Repeat_Grid_5_0_Class">
        <svg class="download">
          <pattern elementId="download_A0_Rectangle_16" id="download_A0_Rectangle_16_pattern" x="0" y="0" width="100%" height="100%">
            <image x="0" y="0" width="100%" height="100%" href="download_A0_Rectangle_16_pattern.png" xlink:href="download_A0_Rectangle_16_pattern.png"></image>
          </pattern>
          <rect fill="url('../assets/download_A0_Rectangle_16_pattern')" class="download_Class" rx="0" ry="0" x="0" y="0" width="75" height="75">
          </rect>
        </svg>
      </div>
      <div class="Repeat_Grid_5_1_Class">
        <svg class="download_A0_Rectangle_17">
          <pattern elementId="download_A0_Rectangle_18" id="download_A0_Rectangle_18_pattern" x="0" y="0" width="100%" height="100%">
            <image x="0" y="0" width="100%" height="100%" href="download_A0_Rectangle_18_pattern.png" xlink:href="download_A0_Rectangle_18_pattern.png"></image>
          </pattern>
          <rect fill="url('../assets/download_A0_Rectangle_18_pattern')" class="download_A0_Rectangle_17_Class" rx="0" ry="0" x="0" y="0" width="75"
            height="75">
          </rect>
        </svg>
      </div>
      <div class="Repeat_Grid_5_2_Class">
        <svg class="br_com_eguana_parmeWebStore">
          <pattern elementId="br_com_eguana_parmeWebStore_A0_Rectangle_20" id="br_com_eguana_parmeWebStore_A0_Rectangle_20_pattern"
            x="0" y="0" width="100%" height="100%">
            <image x="0" y="0" width="100%" height="100%" href="br_com_eguana_parmeWebStore_A0_Rectangle_20_pattern.png" xlink:href="br_com_eguana_parmeWebStore_A0_Rectangle_20_pattern.png"></image>
          </pattern>
          <rect fill="url('../assets/br_com_eguana_parmeWebStore_A0_Rectangle_20_pattern')" class="br_com_eguana_parmeWebStore_Class" rx="0" ry="0"
            x="0" y="0" width="75" height="75">
          </rect>
        </svg>
      </div>
      <div class="Repeat_Grid_5_3_Class">
        <svg class="download__1_">
          <pattern elementId="download__1__A0_Rectangle_22" id="download__1__A0_Rectangle_22_pattern" x="0" y="0" width="100%" height="100%">
            <image x="0" y="0" width="100%" height="100%" href="download__1__A0_Rectangle_22_pattern.png" xlink:href="download__1__A0_Rectangle_22_pattern.png"></image>
          </pattern>
          <rect fill="url('../assets/download__1__A0_Rectangle_22_pattern')" class="download__1__Class" rx="0" ry="0" x="0" y="0" width="75" height="75">
          </rect>
        </svg>
      </div>
    </div>
    <div class="Group_342_Class">
      <div class="ID3216_Class">
        <span>3216</span>
      </div>
      <div class="ID12_30_Class">
        <span>12:30</span>
      </div>
      <div class="ID5_00_Class">
        <span>5:00</span>
      </div>
    </div>
    <div class="Group_344_Class">
      <div class="ID2391_Class">
        <span>2391</span>
      </div>
      <div class="ID12_12_Class">
        <span>12:12</span>
      </div>
      <div class="ID4_20_Class">
        <span>4:20</span>
      </div>
    </div>
    <div class="Group_345_Class">
      <div class="ID21_Class">
        <span>21</span>
      </div>
      <div class="ID1_345_Class">
        <span>1 345</span>
      </div>
    </div>
    <div class="Group_346_Class">
      <div class="ID1293_Class">
        <span>1293</span>
      </div>
      <div class="ID11_47_Class">
        <span>11:47</span>
      </div>
      <div class="ID2_34_Class">
        <span>2:34</span>
      </div>
    </div>
    <div class="Group_347_Class">
      <div class="ID21_A0_Text_22_Class">
        <span>21</span>
      </div>
      <div class="ID1_345_A0_Text_23_Class">
        <span>1 345</span>
      </div>
    </div>
    <div class="Group_348_Class">
      <div class="ID4378_Class">
        <span>4378</span>
      </div>
      <div class="ID11_30_Class">
        <span>11:30</span>
      </div>
      <div class="ID0_40_Class">
        <span>0:40</span>
      </div>
    </div>
    <div class="Group_349_Class">
      <div class="ID21_A0_Text_27_Class">
        <span>21</span>
      </div>
      <div class="ID1_345_A0_Text_28_Class">
        <span>1 345</span>
      </div>
    </div>
    <div class="Canal_Class">
      <span>Canal</span>
    </div>
    <div class="ID_Class">
      <span>ID</span>
    </div>
    <div class="Hora_Class">
      <span>Hora</span>
    </div>
    <div class="Tempo_de_Confirma__o_Class">
      <span>Tempo de Confirmação</span>
    </div>
    <div class="Jo_o_Gomes_Class">
      <span>João Gomes</span>
    </div>
    <div class="Maria_Mendes_Class">
      <span>Maria Mendes</span>
    </div>
    <div class="Ana_Couto_Pereira_Class">
      <span>Ana Couto Pereira</span>
    </div>
    <div class="J_lia_Andrade_Pires_Class">
      <span>Júlia Andrade Pires</span>
    </div>
    <div class="Cliente_Class">
      <span>Cliente</span>
    </div>
  </div>
  <div class="Clear_All_Filters_Class">
    <svg class="Rectangle_A0_Rectangle_23">
      <rect fill="rgba(247,155,42,1)" class="Rectangle_A0_Rectangle_23_Class" rx="18.20404052734375" ry="18.20404052734375" x="0"
        y="0" width="112.64" height="36.408">
      </rect>
    </svg>
    <div class="CLEAR_ALL_FILTERS_Class">
      <span>CONFIRMAR</span>
    </div>
  </div>
  <div class="Clear_All_Filters_A0_Group_43_Class">
    <svg class="Rectangle_A0_Rectangle_24">
      <rect fill="rgba(247,155,42,1)" class="Rectangle_A0_Rectangle_24_Class" rx="18.20404052734375" ry="18.20404052734375" x="0"
        y="0" width="112.64" height="36.408">
      </rect>
    </svg>
    <div class="CLEAR_ALL_FILTERS_A0_Text_39_Class">
      <span>CONFIRMAR</span>
    </div>
  </div>
  <div class="Clear_All_Filters_A0_Group_44_Class">
    <svg class="Rectangle_A0_Rectangle_25">
      <rect fill="rgba(247,155,42,1)" class="Rectangle_A0_Rectangle_25_Class" rx="18.20404052734375" ry="18.20404052734375" x="0"
        y="0" width="112.64" height="36.408">
      </rect>
    </svg>
    <div class="CLEAR_ALL_FILTERS_A0_Text_40_Class">
      <span>CONFIRMAR</span>
    </div>
  </div>
  <div class="Clear_All_Filters_A0_Group_45_Class">
    <svg class="Rectangle_A0_Rectangle_26">
      <rect fill="rgba(247,155,42,1)" class="Rectangle_A0_Rectangle_26_Class" rx="18.20404052734375" ry="18.20404052734375" x="0"
        y="0" width="112.64" height="36.408">
      </rect>
    </svg>
    <div class="CLEAR_ALL_FILTERS_A0_Text_41_Class">
      <span>CONFIRMAR</span>
    </div>
  </div>
  <div class="Pagination_Class">
    <svg class="Round_Rectangle">
      <rect fill="rgba(245,246,247,1)" class="Round_Rectangle_Class" rx="19.200439453125" ry="19.200439453125" x="0" y="0" width="341.768"
        height="38.401">
      </rect>
    </svg>
    <div class="Left_Class">
      <svg class="Oval">
        <ellipse fill="rgba(245,246,247,1)" class="Oval_Class" rx="19.200439453125" ry="19.200439453125" cx="19.200439453125" cy="19.200439453125">
        </ellipse>
      </svg>
      <div class="chevron_left_Class">
        <svg class="Path_A0_Path_11" viewBox="0 0 5.76 11.52">
          <path fill="rgba(245,246,247,1)" stroke="rgba(0,0,0,1)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="round"
            stroke-miterlimit="10" shape-rendering="auto" class="Path_A0_Path_11_Class" d="M 5.7601318359375 11.520263671875 L 0 5.7601318359375 L 5.7601318359375 0">
          </path>
        </svg>
      </div>
    </div>
    <div class="Right_Class">
      <svg class="Oval_A0_Ellipse_6">
        <ellipse fill="rgba(245,246,247,1)" class="Oval_A0_Ellipse_6_Class" rx="19.200439453125" ry="19.200439453125" cx="19.200439453125"
          cy="19.200439453125">
        </ellipse>
      </svg>
      <div class="chevron_right_Class">
        <svg class="Path_A0_Path_12" viewBox="0 0 5.76 11.52">
          <path fill="rgba(0,0,0,0)" stroke="rgba(0,0,0,1)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10"
            shape-rendering="auto" class="Path_A0_Path_12_Class" d="M 5.7601318359375 11.520263671875 L 0 5.7601318359375 L 5.7601318359375 0">
          </path>
        </svg>
      </div>
    </div>
    <svg class="Oval_A0_Ellipse_7">
      <ellipse fill="rgba(247,155,42,1)" class="Oval_A0_Ellipse_7_Class" rx="19.200439453125" ry="19.200439453125" cx="19.200439453125"
        cy="19.200439453125">
      </ellipse>
    </svg>
    <div class="ID1_2_3_4_5_6_7_8_9_10_Class">
      <span>1</span>
      <span style="color:rgba(44,44,44,1);"> </span>
      <span style="color:rgba(160,154,154,1);">2 3 4 5 6 7 8 9 1</span>
      <span style="color:rgba(160,154,154,1);letter-spacing:2.2222222900390625px;">0</span>
    </div>
  </div>
  <div class="Selection Control / Checkbox / Off / Disabled Selection_Control___Checkbox___Class">
    <svg class="Selection_Control___Checkbox___A0_Path_13" viewBox="6 -625 24.249 24.249">
      <path fill="rgba(116,116,116,1)" class="Selection_Control___Checkbox___A0_Path_13_Class" d="M 27.55482292175293 -622.3056030273438 L 27.55482292175293 -603.4451293945312 L 8.694353103637695 -603.4451293945312 L 8.694353103637695 -622.3056030273438 L 27.55482292175293 -622.3056030273438 Z M 27.55482292175293 -625 L 8.694353103637695 -625 C 7.212459564208984 -625 6 -623.7874755859375 6 -622.3056030273438 L 6 -603.4451293945312 C 6 -601.9633178710938 7.212459564208984 -600.7507934570312 8.694353103637695 -600.7507934570312 L 27.55482292175293 -600.7507934570312 C 29.03671646118164 -600.7507934570312 30.24917411804199 -601.9633178710938 30.24917411804199 -603.4451293945312 L 30.24917411804199 -622.3056030273438 C 30.24917411804199 -623.7874755859375 29.03671646118164 -625 27.55482292175293 -625 Z">
      </path>
    </svg>
  </div>
  <svg class="Selection_Control___Checkbox___A0_Path_14" viewBox="6 -625 24.249 24.249">
    <path fill="rgba(116,116,116,1)" class="Selection_Control___Checkbox___A0_Path_14_Class" d="M 27.55482292175293 -622.3056030273438 L 27.55482292175293 -603.4451293945312 L 8.694353103637695 -603.4451293945312 L 8.694353103637695 -622.3056030273438 L 27.55482292175293 -622.3056030273438 Z M 27.55482292175293 -625 L 8.694353103637695 -625 C 7.212459564208984 -625 6 -623.7874755859375 6 -622.3056030273438 L 6 -603.4451293945312 C 6 -601.9633178710938 7.212459564208984 -600.7507934570312 8.694353103637695 -600.7507934570312 L 27.55482292175293 -600.7507934570312 C 29.03671646118164 -600.7507934570312 30.24917411804199 -601.9633178710938 30.24917411804199 -603.4451293945312 L 30.24917411804199 -622.3056030273438 C 30.24917411804199 -623.7874755859375 29.03671646118164 -625 27.55482292175293 -625 Z">
    </path>
  </svg>
  <svg class="Selection_Control___Checkbox___A0_Path_15" viewBox="6 -625 24.249 24.249">
    <path fill="rgba(116,116,116,1)" class="Selection_Control___Checkbox___A0_Path_15_Class" d="M 27.55482292175293 -622.3056030273438 L 27.55482292175293 -603.4451293945312 L 8.694353103637695 -603.4451293945312 L 8.694353103637695 -622.3056030273438 L 27.55482292175293 -622.3056030273438 Z M 27.55482292175293 -625 L 8.694353103637695 -625 C 7.212459564208984 -625 6 -623.7874755859375 6 -622.3056030273438 L 6 -603.4451293945312 C 6 -601.9633178710938 7.212459564208984 -600.7507934570312 8.694353103637695 -600.7507934570312 L 27.55482292175293 -600.7507934570312 C 29.03671646118164 -600.7507934570312 30.24917411804199 -601.9633178710938 30.24917411804199 -603.4451293945312 L 30.24917411804199 -622.3056030273438 C 30.24917411804199 -623.7874755859375 29.03671646118164 -625 27.55482292175293 -625 Z">
    </path>
  </svg>
  <svg class="Selection_Control___Checkbox___A0_Path_16" viewBox="6 -625 24.249 24.249">
    <path fill="rgba(116,116,116,1)" class="Selection_Control___Checkbox___A0_Path_16_Class" d="M 27.55482292175293 -622.3056030273438 L 27.55482292175293 -603.4451293945312 L 8.694353103637695 -603.4451293945312 L 8.694353103637695 -622.3056030273438 L 27.55482292175293 -622.3056030273438 Z M 27.55482292175293 -625 L 8.694353103637695 -625 C 7.212459564208984 -625 6 -623.7874755859375 6 -622.3056030273438 L 6 -603.4451293945312 C 6 -601.9633178710938 7.212459564208984 -600.7507934570312 8.694353103637695 -600.7507934570312 L 27.55482292175293 -600.7507934570312 C 29.03671646118164 -600.7507934570312 30.24917411804199 -601.9633178710938 30.24917411804199 -603.4451293945312 L 30.24917411804199 -622.3056030273438 C 30.24917411804199 -623.7874755859375 29.03671646118164 -625 27.55482292175293 -625 Z">
    </path>
  </svg>
  <div class="ID4_Pedidos_Class">
    <span>4 Pedidos</span>
  </div>
  <div class="Domingo__20_de_outubro_de_2019_Class">
    <span>Domingo, 20 de outubro de 2019</span>
  </div>
  <div class="Group_357_Class">
    <svg viewBox="0 0 6.279 0.622" class="Line_8">
      <path fill="transparent" stroke="rgba(65,65,65,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4"
        shape-rendering="auto" class="Line_8_Class" d="M 0 0 L 6.279195785522461 0.6224005222320557">
      </path>
    </svg>
    <svg viewBox="0 0 6.279 2" class="Line_9">
      <path fill="transparent" stroke="rgba(65,65,65,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4"
        shape-rendering="auto" class="Line_9_Class" d="M 0 0.6224015951156616 L 6.279194831848145 0">
      </path>
    </svg>
  </div>
  <div class="Group_358_Class">
    <svg viewBox="0 0 6.279 0.622" class="Line_8_A0_Line_5">
      <path fill="transparent" stroke="rgba(65,65,65,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4"
        shape-rendering="auto" class="Line_8_A0_Line_5_Class" d="M 0 0 L 6.279195785522461 0.6224005222320557">
      </path>
    </svg>
    <svg viewBox="0 0 6.279 2" class="Line_9_A0_Line_6">
      <path fill="transparent" stroke="rgba(65,65,65,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4"
        shape-rendering="auto" class="Line_9_A0_Line_6_Class" d="M 0 0.6224015951156616 L 6.279194831848145 0">
      </path>
    </svg>
  </div>
  <div class="Group_359_Class">
    <svg viewBox="0 0 6.279 0.622" class="Line_8_A0_Line_7">
      <path fill="transparent" stroke="rgba(65,65,65,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4"
        shape-rendering="auto" class="Line_8_A0_Line_7_Class" d="M 0 0 L 6.279195785522461 0.6224005222320557">
      </path>
    </svg>
    <svg viewBox="0 0 6.279 2" class="Line_9_A0_Line_8">
      <path fill="transparent" stroke="rgba(65,65,65,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4"
        shape-rendering="auto" class="Line_9_A0_Line_8_Class" d="M 0 0.6224015951156616 L 6.279194831848145 0">
      </path>
    </svg>
  </div>
  <div class="Group_360_Class">
    <svg viewBox="0 0 6.279 0.622" class="Line_8_A0_Line_9">
      <path fill="transparent" stroke="rgba(65,65,65,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4"
        shape-rendering="auto" class="Line_8_A0_Line_9_Class" d="M 0 0 L 6.279195785522461 0.6224005222320557">
      </path>
    </svg>
    <svg viewBox="0 0 6.279 2" class="Line_9_A0_Line_10">
      <path fill="transparent" stroke="rgba(65,65,65,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4"
        shape-rendering="auto" class="Line_9_A0_Line_10_Class" d="M 0 0.6224015951156616 L 6.279194831848145 0">
      </path>
    </svg>
  </div>
  <div class="Group_356_Class">
    <svg class="Rectangle_612">
      <rect fill="rgba(247,155,42,0.149)" class="Rectangle_612_Class" rx="0" ry="0" x="0" y="0" width="280" height="40">
      </rect>
    </svg>
    <div class="Dashboard_Class">
      <svg class="Rectangle_A0_Rectangle_29">
        <linearGradient id="LinearGradientFill1" spreadMethod="pad" x1="1" x2="0.016" y1="0" y2="1">
          <stop offset="0" stop-color="#f7aa2f" stop-opacity="1"></stop>
          <stop offset="1" stop-color="#f78523" stop-opacity="1"></stop>
        </linearGradient>
        <rect fill="url('../assets/LinearGradientFill1')" class="Rectangle_A0_Rectangle_29_Class" rx="2.5" ry="2.5" x="0" y="0" width="5" height="40">
        </rect>
      </svg>
    </div>
  </div>
  <div class="Group_373_Class">
    <svg viewBox="0 0 6.279 0.622" class="Line_8_A0_Line_11">
      <path fill="transparent" stroke="rgba(65,65,65,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4"
        shape-rendering="auto" class="Line_8_A0_Line_11_Class" d="M 0 0 L 6.279195785522461 0.6224005222320557">
      </path>
    </svg>
    <svg viewBox="0 0 6.279 2" class="Line_9_A0_Line_12">
      <path fill="transparent" stroke="rgba(65,65,65,1)" stroke-width="2px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4"
        shape-rendering="auto" class="Line_9_A0_Line_12_Class" d="M 0 0.6224015951156616 L 6.279194831848145 0">
      </path>
    </svg>
  </div>