<div id="Em_aberto" class="Em_aberto_Class" style="transform-origin: 0px 0px; transform: scale(0.75);">
  <svg class="Rectangle_609">
    <rect fill="rgba(255,255,255,1)" class="Rectangle_609_Class" rx="0" ry="0" x="0" y="0" width="1642" height="72">
    </rect>
  </svg>
  <div class="Group_1_Class">
    <svg class="Rectangle_608">
      <rect fill="rgba(244,244,244,1)" class="Rectangle_608_Class" rx="17.5" ry="17.5" x="0" y="0" width="725" height="35">
      </rect>
    </svg>
    <div class="Icon / Search / Two-toned Icon___Search___Two_toned_Class">
      <svg class="Box">
        <rect fill="transparent" class="Box_Class" rx="0" ry="0" x="0" y="0" width="24" height="24">
        </rect>
      </svg>
      <svg class="Path_402" viewBox="908 -1415 17.49 17.491">
        <path fill="rgba(117,117,117,1)" class="Path_402_Class" d="M 920.5020141601562 -1404 L 919.7080078125 -1404 L 919.4320068359375 -1404.274047851562 C 920.406982421875 -1405.411010742188 921 -1406.885009765625 921 -1408.5 C 921 -1412.089965820312 918.0900268554688 -1415 914.5 -1415 C 910.9099731445312 -1415 908 -1412.089965820312 908 -1408.5 C 908 -1404.910034179688 910.9099731445312 -1402 914.5 -1402 C 916.114990234375 -1402 917.5880126953125 -1402.592041015625 918.7249755859375 -1403.566040039062 L 919.0009765625 -1403.2919921875 L 919.0009765625 -1402.5 L 923.9990234375 -1397.509033203125 L 925.489990234375 -1399 L 920.5020141601562 -1404 L 920.5020141601562 -1404 Z M 914.5 -1404 C 912.0139770507812 -1404 910 -1406.014038085938 910 -1408.5 C 910 -1410.984985351562 912.0139770507812 -1413 914.5 -1413 C 916.9849853515625 -1413 919 -1410.984985351562 919 -1408.5 C 919 -1406.014038085938 916.9849853515625 -1404 914.5 -1404 L 914.5 -1404 Z">
        </path>
      </svg>
    </div>
  </div>
  <svg class="Path_2111" viewBox="0 1080 311 1">
    <path fill="rgba(56,53,53,1)" class="Path_2111_Class" d="M 311 1080 L 0 1080 L 311 1080 Z">
    </path>
  </svg>
  <div class="User_Class">
    <div class="Group_23_Class">
      <svg viewBox="0 0 6.122 0" class="Line_6">
        <path fill="transparent" stroke="rgba(65,65,65,1)" stroke-width="3px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4"
          shape-rendering="auto" class="Line_6_Class" d="M 0 0 L 6.121516227722168 1.475865701650036e-05">
        </path>
      </svg>
      <svg viewBox="0 0 6.122 3" class="Line_7">
        <path fill="transparent" stroke="rgba(65,65,65,1)" stroke-width="3px" stroke-linejoin="miter" stroke-linecap="round" stroke-miterlimit="4"
          shape-rendering="auto" class="Line_7_Class" d="M 0 1.475865701650036e-05 L 6.121516227722168 0">
        </path>
      </svg>
    </div>
    <svg class="IMG_20180429_114059">
      <pattern elementId="IMG_20180429_114059_A0_Ellipse_2" id="IMG_20180429_114059_A0_Ellipse_2_pattern" x="0" y="0" width="100%"
        height="100%">
        <image x="0" y="0" width="100%" height="100%" href="../assets/IMG_20180429_114059_A0_Ellipse_2_pattern.png" xlink:href="IMG_20180429_114059_A0_Ellipse_2_pattern.png"></image>
      </pattern>
      <ellipse fill="url('assets/IMG_20180429_114059_A0_Ellipse_2_pattern.png')" class="IMG_20180429_114059_Class" rx="25" ry="25"
        cx="25" cy="25">
      </ellipse>
    </svg>
    <div class="Tamyres_Freitas_Class">
      <span>Tamyres Freitas</span>
    </div>
  </div>
  <div class="Vertical Menu Vertical_Menu_Class">
    <div class="Group_335_Class">
      <svg class="Rectangle">
        <rect fill="rgba(255,255,255,1)" class="Rectangle_Class" rx="0" ry="0" x="0" y="0" width="280" height="1080">
        </rect>
      </svg>
    </div>
    <svg class="Path" viewBox="0 0.44 1.75 1">
      <path fill="rgba(0,0,0,0)" class="Path_Class" d="M 1.75 0.4397668540477753 L 0.875 0.4397668540477753 L 0 0.4397668540477753">
      </path>
    </svg>
    <div class="Dashboard_Analytics_Class">
      <span> Todos (80)</span>
      <br>
      <span style="color:rgba(133,122,245,1);"> </span>
      <span style="color:rgba(248,147,33,1);"> </span>
      <span style="font-style:normal;font-weight:bold;color:rgba(248,147,33,1);">Em aberto ({{orderList?.length}})</span>
      <br>
      <span> Em andamento (32)
        <br/> Enviado (8)
        <br/> Entregue (40)</span>
      <br>
    </div>
    <div class="APPS_Class">
      <span>PEDIDOS</span>
    </div>
    <div class="Group_340_Class">
      <div class="UI_Elements_Class">
        <div class="right_arrow_Class">
          <svg class="right_arrow_background">
            <rect fill="rgba(0,0,0,0)" class="right_arrow_background_Class" rx="0" ry="0" x="0" y="0" width="10" height="5.021">
            </rect>
          </svg>
          <svg class="Path_A0_Path_4" viewBox="0 0 10 5.021">
            <path fill="rgba(0,0,0,0)" class="Path_A0_Path_4_Class" d="M 0 0 L 5 5.021276473999023 L 10 0">
            </path>
          </svg>
        </div>
        <div class="right_arrow_A0_Group_8_Class">
          <svg class="right_arrow_background_A0_Rectangle_6">
            <rect fill="rgba(0,0,0,0)" class="right_arrow_background_A0_Rectangle_6_Class" rx="0" ry="0" x="0" y="0" width="10" height="5.021">
            </rect>
          </svg>
        </div>
        <div class="Group_336_A0_Group_23_Class">
          <div class="chevron_down_A0_Group_24_Class">
            <div class="right_arrow_A0_Group_28_Class">
            </div>
          </div>
        </div>
        <div class="Group_337_Class">
          <div class="chevron_down_A0_Group_13_Class">
            <div class="right_arrow_A0_Group_14_Class">
              <svg class="right_arrow_background_A0_Rectangle_7">
                <rect fill="rgba(0,0,0,0)" class="right_arrow_background_A0_Rectangle_7_Class" rx="0" ry="0" x="0" y="0" width="10" height="5.021">
                </rect>
              </svg>
            </div>
          </div>
          <svg class="Path_A0_Path_5" viewBox="0 0 10 5.021">
            <path fill="rgba(0,0,0,0)" class="Path_A0_Path_5_Class" d="M 0 0 L 5 5.021276473999023 L 10 0">
            </path>
          </svg>
        </div>
        <div class="Group_338_A0_Group_26_Class">
          <div class="chevron_down_A0_Group_27_Class">
            <div class="right_arrow_A0_Group_28_Class">
            </div>
          </div>
        </div>
        <div class="Group_339_Class">
          <svg class="Path_A0_Path_6" viewBox="0 0 10 5.021">
            <path fill="rgba(0,0,0,0)" class="Path_A0_Path_6_Class" d="M 0 0 L 5 5.021276473999023 L 10 0">
            </path>
          </svg>
          <svg class="right_arrow_background_A0_Rectangle_8">
            <rect fill="rgba(0,0,0,0)" class="right_arrow_background_A0_Rectangle_8_Class" rx="0" ry="0" x="0" y="0" width="10" height="5.021">
            </rect>
          </svg>
          <svg class="Path_A0_Path_7" viewBox="0 0 10 5.021">
            <path fill="rgba(0,0,0,0)" class="Path_A0_Path_7_Class" d="M 0 0 L 5 5.021276473999023 L 10 0">
            </path>
          </svg>
          <svg class="Path_A0_Path_8" viewBox="0 0 10 5.021">
            <path fill="rgba(0,0,0,0)" class="Path_A0_Path_8_Class" d="M 0 0 L 5 5.021276473999023 L 10 0">
            </path>
          </svg>
          <svg class="right_arrow_background_A0_Rectangle_9">
            <rect fill="rgba(0,0,0,0)" class="right_arrow_background_A0_Rectangle_9_Class" rx="0" ry="0" x="0" y="0" width="10" height="5.021">
            </rect>
          </svg>
        </div>
        <div class="UI_ELEMENTS_Class">
          <span>RELATÓRIOS ELEMENTS</span>
        </div>
      </div>
      <div class="Dashboard_Analytics_A0_Text_5_Class">
        <span>Pedidos
          <br/>Faturamento
          <br/>Avaliação
          <br/>Clientes
          <br/>Cupons</span>
        <br>
      </div>
    </div>
    <div class="Group_341_Class">
      <div class="UI_Elements_A0_Group_20_Class">
        <div class="right_arrow_A0_Group_21_Class">
          <svg class="right_arrow_background_A0_Rectangle_10">
            <rect fill="rgba(0,0,0,0)" class="right_arrow_background_A0_Rectangle_10_Class" rx="0" ry="0" x="0" y="0" width="10" height="5.021">
            </rect>
          </svg>
        </div>
        <div class="right_arrow_A0_Group_22_Class">
          <svg class="right_arrow_background_A0_Rectangle_11">
            <rect fill="rgba(0,0,0,0)" class="right_arrow_background_A0_Rectangle_11_Class" rx="0" ry="0" x="0" y="0" width="10" height="5.021">
            </rect>
          </svg>
        </div>
        <div class="Group_336_A0_Group_23_Class">
          <div class="chevron_down_A0_Group_24_Class">
            <div class="right_arrow_A0_Group_28_Class">
            </div>
          </div>
        </div>
        <div class="Group_338_A0_Group_26_Class">
          <div class="chevron_down_A0_Group_27_Class">
            <div class="right_arrow_A0_Group_28_Class">
            </div>
          </div>
        </div>
        <div class="UI_ELEMENTS_A0_Text_6_Class">
          <span>PREVISÃO</span>
          <span style="font-size:14px;"> ELEMENTS</span>
        </div>
      </div>
      <div class="Dashboard_Analytics_A0_Text_7_Class">
        <span>Pedidos
          <br/>Faturamento</span>
        <br>
      </div>
    </div>
  </div>
  <div class="Bread_Crumbs_Class">
    <div class="Card_Actions_Class">
      <span>Pedidos</span>
    </div>
    <svg class="Path_2" viewBox="0.5 0.881 1 30.528">
      <path fill="transparent" stroke="rgba(151,151,151,1)" stroke-width="1px" stroke-linejoin="miter" stroke-linecap="butt" stroke-miterlimit="10"
        shape-rendering="auto" class="Path_2_Class" d="M 0.5 0.8810209631919861 L 0.5 31.40941619873047">
      </path>
    </svg>
    <div class="eCommerce_Class">
      <span>Em aberto</span>
    </div>
  </div>
  <div class="Selection Control / Switch / On / Pressed Selection_Control___Switch___O_Class">
    <svg class="Rectangle_585">
      <rect fill="rgba(0,130,101,1)" class="Rectangle_585_Class" rx="7" ry="7" x="0" y="0" width="34" height="14">
      </rect>
    </svg>
    <svg class="Ellipse_63">
      <ellipse fill="rgba(0,130,101,1)" class="Ellipse_63_Class" rx="10" ry="10" cx="10" cy="10">
      </ellipse>
    </svg>
    <svg class="Ellipse_62">
      <ellipse fill="rgba(0,130,101,1)" class="Ellipse_62_Class" rx="20" ry="20" cx="20" cy="20">
      </ellipse>
    </svg>
  </div>
  <div class="Card_Actions_A0_Text_10_Class">
    <span>Loja Aberta </span>
  </div>

  <div>
    <!-- tabela -->
    <!-- <table class="table table-borderless">
      <thead>
        <tr>
          <th>Canal</th>
          <th>Pedido</th>
          <th>Hora</th>
          <th>Tempo de Confirmação</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orderList">
          <td>{{item?.code}}</td>
          <td>{{item?.correlationId}}</td>
          <td>{{item?.createdAt}}</td>
          <td>{{item?.id}}</td>
        </tr>
      </tbody>
    </table> -->

    <div>
    <div class="table-responsive" style="padding: 260px 0 0 335px">
      <table class="table table-striped table-bordered table-hover ">
          <thead>
              <tr>
                <th>Canal</th>
                <th>Pedido</th>
                <th>Hora</th>
                <th>Tempo de Confirmação</th>
                <th></th>
              </tr>
            </thead>
        <tr *ngFor="let item of orderList">
        <td>{{item?.code}}</td>
        <td>{{item?.correlationId}}</td>
        <td>{{item?.createdAt}}</td>
        <td>{{item?.id}}</td>
        <td><button  (click)="confirma(item)"
           type="button" class="btn btn-warning" 
          style="border-radius: 14px; width: 100px; color: white">Confirmar</button></td>
        </tr>
      </table>
      </div>
      </div> 

    <!-- tabela -->
  </div>

  <div class="Pagination_Class">
    <svg class="Round_Rectangle">
      <rect fill="rgba(245,246,247,1)" class="Round_Rectangle_Class" rx="19.200439453125" ry="19.200439453125" x="0" y="0" width="341.768"
        height="38.401">
      </rect>
    </svg>
    <div class="Left_Class">
      <svg class="Oval">
        <ellipse fill="rgba(245,246,247,1)" class="Oval_Class" rx="19.200439453125" ry="19.200439453125" cx="19.200439453125" cy="19.200439453125">
        </ellipse>
      </svg>
      <div class="chevron_left_Class">
        <svg class="Path_A0_Path_11" viewBox="0 0 5.76 11.52">
          <path fill="rgba(245,246,247,1)" stroke="rgba(0,0,0,1)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="round"
            stroke-miterlimit="10" shape-rendering="auto" class="Path_A0_Path_11_Class" d="M 5.7601318359375 11.520263671875 L 0 5.7601318359375 L 5.7601318359375 0">
          </path>
        </svg>
      </div>
    </div>
    <div class="Right_Class">
      <svg class="Oval_A0_Ellipse_6">
        <ellipse fill="rgba(245,246,247,1)" class="Oval_A0_Ellipse_6_Class" rx="19.200439453125" ry="19.200439453125" cx="19.200439453125"
          cy="19.200439453125">
        </ellipse>
      </svg>
      <div class="chevron_right_Class">
        <svg class="Path_A0_Path_12" viewBox="0 0 5.76 11.52">
          <path fill="rgba(0,0,0,0)" stroke="rgba(0,0,0,1)" stroke-width="2px" stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="10"
            shape-rendering="auto" class="Path_A0_Path_12_Class" d="M 5.7601318359375 11.520263671875 L 0 5.7601318359375 L 5.7601318359375 0">
          </path>
        </svg>
      </div>
    </div>
    <svg class="Oval_A0_Ellipse_7">
      <ellipse fill="rgba(247,155,42,1)" class="Oval_A0_Ellipse_7_Class" rx="19.200439453125" ry="19.200439453125" cx="19.200439453125"
        cy="19.200439453125">
      </ellipse>
    </svg>
    <div class="ID1_2_3_4_5_6_7_8_9_10_Class">
      <span>1</span>
      <span style="color:rgba(44,44,44,1);"> </span>
      <span style="color:rgba(160,154,154,1);">2 3 4 5 6 7 8 9 1</span>
      <span style="color:rgba(160,154,154,1);letter-spacing:2.2222222900390625px;">0</span>
    </div>
  </div>

  <div class="ID4_Pedidos_Class">
    <span>{{orderList?.length}} Pedidos</span>
  </div>
  <div class="Domingo__20_de_outubro_de_2019_Class">
    <span>Domingo, 20 de outubro de 2019</span>
  </div>

  <div class="Group_356_Class">
    <svg class="Rectangle_612">
      <rect fill="rgba(247,155,42,0.149)" class="Rectangle_612_Class" rx="0" ry="0" x="0" y="0" width="280" height="40">
      </rect>
    </svg>
    <div class="Dashboard_Class">
      <svg class="Rectangle_A0_Rectangle_29">
        <linearGradient id="LinearGradientFill1" spreadMethod="pad" x1="1" x2="0.016" y1="0" y2="1">
          <stop offset="0" stop-color="#f7aa2f" stop-opacity="1"></stop>
          <stop offset="1" stop-color="#f78523" stop-opacity="1"></stop>
        </linearGradient>
        <rect fill="url('../assets/LinearGradientFill1')" class="Rectangle_A0_Rectangle_29_Class" rx="2.5" ry="2.5" x="0" y="0" width="5"
          height="40">
        </rect>
      </svg>
    </div>
  </div>